<div class="col-lg">
    <h3>Order: @ListColumnOrder (Items: @LinkGroups.Count)</h3><i class="fa-solid fa-circle-plus" @onclick="() => AddNewLinkGroup(ListColumnOrder)"></i>

    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var linkGroup in LinkGroups)
        {
            <LinkGroupItem LinkGroup="linkGroup" OnLastRowTouchedChanged="LastRowChanged" />
        }

        <LinkGroupEmpty OnLastRowTouchedChanged="LastRowChanged" />
    </ul>
</div>
