@using MadWorld.Shared.Models.API.Links;

@inherits DragList<LinkGroupAdminDto, LinkGroupContainer>

<div class="col-lg">
    <div class="header">
        <h3>Order: @ListColumnOrder (Items: @DragItems.Count)</h3><i class="fa-solid fa-circle-plus add-icon" @onclick="() => AddNewDragItem(ListColumnOrder)"></i>
    </div>

    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var dragItem in DragItems)
        {
            <LinkGroupItem DragObject="dragItem" OnLastRowTouchedChanged="LastRowChanged" OnDeleteGroup="OnParametersSet" />
        }

        <DragItemEmpty OnLastRowTouchedChanged="LastRowChanged" />
    </ul>
</div>