@using MadWorld.Shared.Models.API.Links;
@using MadWorld.Website.Parts.DragParts;

@inherits DragItem<LinkAdminDto, LinkContainer>

<li class="draggable" draggable="true" title="@DragObject.Name" @ondragstart="@(() => HandleDragStart(DragObject))" @ondragenter="HandleDragEnter">
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext linkgroup-title" id="name" @bind-value="DragObject.Name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="url" class="col-sm-2 col-form-label">Url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext linkgroup-title" id="url" @bind-value="DragObject.Url">
        </div>
    </div>
    <div class="linkgroup-id">
        <p class="item-id">@DragObject.Id &nbsp;</p>
        <span><i class="fa-solid fa-trash-can trash-icon pointer" @onclick="DeleteLinkGroup"></i></span>
    </div>
    <hr />
</li>

