@using MadWorld.Shared.Models.API.Links;
@using MadWorld.Website.Parts.DragParts;

@inherits DragContainer<LinkAdminDto>

<div class="drag-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
