<li class="draggable" draggable="true" title="@LinkGroup.Name" @ondragstart="@(() => HandleDragStart(LinkGroup))" @ondragenter="HandleDragEnter">
    <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext linkgroup-title" id="title" @bind-value="LinkGroup.Name">
        </div>
    </div>
    <div class="linkgroup-id">
        <p class="item-id">@LinkGroup.Id &nbsp;</p>
        @if (!LinkGroup.IsNew)
        {
            <span><i class="fa-solid fa-pen-to-square pointer" @onclick="EditLinkGroup"></i>&nbsp;</span>
        }
        <span><i class="fa-solid fa-trash-can trash-icon pointer" @onclick="DeleteLinkGroup"></i></span>
    </div>
    <hr />
</li>

