@page "/Development"

<div class="row">
    <div class="col col-lg-2">
        <div class="mb-3">
            <a class="btn btn-primary" href="Development/Test/ServiceUnavailable" role="button">Test Service Unavailable</a>
        </div>
    </div>
        <div class="col col-lg-2">
            <div class="mb-3">
                <a class="btn btn-primary" href="Development/Test/IFrame" role="button">Test IFrame</a>
            </div>
        </div>
</div>
