@page "/CurriculumVitae"

<div class="alert alert-warning" role="alert">
    This CV is still work in progress
</div>
<article>
    <div>
        <header>
            <div class="row cv-header">
                <div class="col-3 text-left">
                    <img src="/images/cv/Oscar.jpg" style="height:200px" />
                </div>
                <div class="col text-left">
                    <h1>Oscar Veldman</h1>
                    <p class="title mb-3">Backend Developer</p>
                    <p><span class="oi oi-phone"></span>+316########</p>
                    <p><span class="oi oi-inbox"></span>######mad-world.nl</p>
                </div>
                <div class="col">
                    <ul class="unstyled-list">
                        <li><a href="https://www.linkedin.com/in/oveldman/">https://www.linkedin.com/in/oveldman</a></li>
                        <li><a href="https://github.com/oveldman">https://github.com/oveldman</a></li>
                        <li><a href="https://www.mad-world.nl">https://www.mad-world.nl</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="row cv-body">
        <div class="row">
            <section>
                <h2>Career Summary</h2>
                <hr>
            </section>
        </div>
        <div class="row">
            <div class="col-9">
                <h2>Work Experience</h2>
                <hr>
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <div><h3>Developer</h3></div>
                        <div><a href="https://www.bugsbusiness.nl/">Bugs Business</a></div>
                    </div>
                    <div>Feb. 2020 - Present</div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <div><h3>Support Developer</h3></div>
                        <div><a href="https://www.bugsbusiness.nl/">Bugs Business</a></div>
                    </div>
                    <div>Mar. 2018 - Feb. 2020</div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <div><h3>Peercoach</h3></div>
                        <div><a href="https://www.hogeschoolrotterdam.nl/">Hogeschool Rotterdam</a></div>
                    </div>
                    <div>Feb. 2017 - July 2017</div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <div><h3>Stagiair</h3></div>
                        <div><a href="https://www.vicompany.nl/">VI Company</a></div>
                    </div>
                    <div>Sept. 2016 - Jan. 2017</div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <div><h3>Peercoach</h3></div>
                        <div><a href="https://www.hogeschoolrotterdam.nl/">Hogeschool Rotterdam</a></div>
                    </div>
                    <div>Sept. 2015 - July 2016</div>
                </div>
            </div>
            <div class="col-3">
                <h2>Skills & Tools</h2>
                <hr>
                <div class="row">
                    <div>
                        <h4>Backend</h4>
                        <ul class="unstyled-list">
                            <li>
                                <div>Dotnet Core</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div>Dotnet Framework</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div>API</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div>Entity Framework</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div>SQL</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Frontend</h4>
                        <ul class="unstyled-list">
                            <li>
                                <div>MVC</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div>Blazor</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div>Javascript</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div>HTML/CCS</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h2>Education</h2>
                    <hr>
                    <div>Computer Science</div>
                    <div>Hogeschool Rotterdam</div>
                    <div>2014-2019</div>
                    <div>Havo Natuur & Techniek</div>
                    <div>Comenius College</div>
                    <div>2006-2013</div>
                </div>
                <div class="row">
                    <h2>Certifications</h2>
                    <hr>
                </div>
                <div class="row">
                    <h2>Language</h2>
                    <hr>
                    <ul class="unstyled-list">
                        <li>Dutch (Native)</li>
                        <li>English (Professional)</li>
                    </ul>
                </div>
                <div class="row">
                    <h2>Interests</h2>
                    <hr>
                    <ul class="unstyled-list">
                        <li>Programming</li>
                        <li>Snowboarding</li>
                        <li>Reading</li>
                        <li>Walking</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>