@page "/Links"

@using MadWorld.Website.Parts.Info;

@for (int index = 0; index < _linkGroup.Count; index += 2)
{
    <div class="row">
        <LinksColumn LinkGroup="_linkGroup[index]" />
        @if (_linkGroup.Count > (index + 1))
        {
            <LinksColumn LinkGroup="_linkGroup[index + 1]" />
        }
    </div>
}