@page "/Links" 

<div class="row">
    <div class="col">
        <h3>Nuget Packages</h3>
        <a href="https://github.com/arivera12/BlazorDownloadFile/">BlazorDownloadFile</a><br />
        <a href="https://github.com/IvanJosipovic/BlazorTable/">BlazorTable</a><br />
        <a href="https://html-agility-pack.net/">HTML Agility Pack</a>
    </div>
    <div class="col">
        <h3>Security</h3>
        <a href="https://www.ssllabs.com/">SSL Labs</a><br />
        <a href="https://securityheaders.com/">Security Headers</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>Sources</h3>
        <a href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#modify-requests-responses">Azure Functions Proxies</a>
    </div>
</div>