@page "/Links"

@using MadWorld.Shared.Models.AnonymousAPI.Info;
@using MadWorld.Website.Parts.Info;

@for (int rowOrder = 0; rowOrder < MaxRows; rowOrder++)
{
    <div class="row">
        <div class="col">
            @if (TryFindGroup(rowOrder, 0, out LinkGroupDto linkGroupFirst))
            {
                <LinksColumn LinkGroup="linkGroupFirst" />
            }
        </div>
        <div class="col">
            @if (TryFindGroup(rowOrder, 1, out LinkGroupDto linkGroupSecond))
            {
                <LinksColumn LinkGroup="linkGroupSecond" />
            }
        </div>
    </div>
}