@if (LinkGroup.Links?.Any() ?? false)
{
    <div class="col">
        <h3>@LinkGroup.Name</h3>
        @foreach (var link in LinkGroup.Links)
        {
            <a href="@link.Url">@link.Name</a><br />
        }
    </div>
}

