@page "/tools/jsonvalidator"

@using MadWorld.Blazor.Componets.Monaco.Pages;

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Json Validator</h1>
        </div>
    </div>
    @if (showSuccess)
    {
        <div class="row">
            <div class="alert alert-danger" role="alert">
                The json is valid
            </div>
        </div>
    }
    @if (showError)
    {
        <div class="row">
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        </div>
    }
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <MonacoEditor @ref="_editor" Height="400" Settings="_settings" />
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success" @onclick="async () => await FormatJson()">Format JSON</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success" @onclick="async () => await ValidateJson()">Validate JSON</button>
        </div>
    </div>
</div>

