@page "/Admin/Users"

@using BlazorTable;
@using Microsoft.AspNetCore.Authorization;
@using MadWorld.Shared.Enums;
@using MadWorld.Shared.Models.API.Users;
@inject NavigationManager _navigation;

@attribute [Authorize(Roles = nameof(RoleTypes.Adminstrator))]

<PageTitle>Users</PageTitle>

<h3>Users</h3>

@if (PageLoaded)
{
    <Table class="table table-striped table-dark table-bordered table-hover" TableHeadClass="thead-light" TableItem="UserDto" Items="_users" PageSize="15" ShowSearchBar="true" RowClickAction="OpenUser">
        <Column TableItem="UserDto" Title="ID" Field="@(x => x.ID)" Sortable="true" Filterable="false" Width="50%" />
        <Column TableItem="UserDto" Title="Email" Field="@(x => x.Email)" Sortable="true" Filterable="false" Width="50%" />
        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
}
else
{
    <div class="loader"></div>
}

