@page "/Admin/LinkGroups"

@using Microsoft.AspNetCore.Authorization;
@using MadWorld.Shared.Enums;
@using MadWorld.Website.Parts.Admin.Info;
@using MadWorld.Website.Parts;

@attribute [Authorize(Roles = nameof(RoleTypes.Administrator))]

<PageTitle>Edit Link Groups</PageTitle>

<BootstrapAlerts @ref="_bootstrapAlerts" @bind-Status="Status" />

<h2>Edit groups for links</h2>
<button type="button" class="btn btn-success" @onclick="SaveLinkGroups">Save Groups</button>
<div class="row">
    <LinkGroupContainer DragItems="LinkGroups" OnStatusUpdated="HandleStatusUpdated">
        <LinkGroupList ListColumnOrder="0" AllowedColumnOrders="@(new int[] { 0, 1 })" />
        <LinkGroupList ListColumnOrder="1" AllowedColumnOrders="@(new int[] { 0, 1 })" />
    </LinkGroupContainer>
</div>

