@page "/admin/links/{Id}"

@using Microsoft.AspNetCore.Authorization;
@using MadWorld.Shared.Enums;
@using MadWorld.Website.Parts.Admin.Info;
@using MadWorld.Website.Parts;

@inject NavigationManager _navigation;

@attribute [Authorize(Roles = nameof(RoleTypes.Administrator))]

<PageTitle>Edit Links</PageTitle>

@if (PageLoaded)
{
    @if (GroupFound)
    {
        <BootstrapAlerts @ref="_bootstrapAlerts" @bind-Status="Status" />

        <h2>Edit for links</h2>
        <button type="button" class="btn btn-success" @onclick="SaveLinks">Save Links</button>
        <button type="button" class="btn btn-success" @onclick="ReturnLinkGroups">Return to LinkGroups</button>
        <div class="row">
            <LinkContainer DragItems="Group.Links" OnStatusUpdated="HandleStatusUpdated">
                <LinkList ListColumnOrder="0" AllowedColumnOrders="@(new int[] { 0 })" />
            </LinkContainer>
        </div>
    }
    else
    {
        <BootstrapAlerts @ref="_bootstrapAlerts" @bind-Status="Status" />
    }
}
else
{
    <PageLoader />
}
