@page "/admin/links/{Id}"

@using Microsoft.AspNetCore.Authorization;
@using MadWorld.Shared.Enums;
@using MadWorld.Website.Parts.Admin.Info;

@attribute [Authorize(Roles = nameof(RoleTypes.Adminstrator))]

<h3>ID: @Id</h3>
