@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject	SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="text-white">
            Hello, @context.User.Identity?.Name!
        </div>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


