@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar d-print-none">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth d-print-none">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            <RadzenDialog />
            <RadzenNotification />
            <RadzenContextMenu />
            <RadzenTooltip />
            @Body
        </article>
    </main>
</div>

