@using MadWorld.Shared.Enums;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MadWorld</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CurriculumVitae">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Curriculum Vitae
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleToolsMenu">
                <span class="oi oi-calculator" aria-hidden="true"></span> Tools <span class="tool-space oi oi-chevron-@ToolMenuArror"></span>
            </NavLink>
        </div>
        @if (!collapseToolMenu)
        {
            <div class="nav-item nav-item-submenu px-3">
                <NavLink class="nav-link" href="/Tools/GuidGenerator">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Guid Generator
                </NavLink>
            </div>
            <div class="nav-item nav-item-submenu px-3">
                <NavLink class="nav-link" href="/Tools/HtmlValidator">
                    <span class="oi oi-wrench" aria-hidden="true"></span> HTML Validator
                </NavLink>
            </div>
            <div class="nav-item nav-item-submenu px-3">
                <NavLink class="nav-link" href="/Tools/JsonValidator">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Json Validator
                </NavLink>
            </div>
        }
        <AuthorizeView Roles="@nameof(RoleTypes.Adminstrator)">
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="ToggleAdminMenu">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Admin <span class="tool-space oi oi-chevron-@AdminMenuArror"></span>
                </NavLink>
            </div>
            @if (!collapseAdminMenu)
            {
                <div class="nav-item nav-item-submenu px-3">
                    <NavLink class="nav-link" href="Admin/Users">
                        <span class="oi oi-people" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
                <div class="nav-item nav-item-submenu px-3">
                    <NavLink class="nav-link" href="Admin/Downloads">
                        <span class="oi oi-cloud-download" aria-hidden="true"></span> Downloads
                    </NavLink>
                </div>
                <div class="nav-item nav-item-submenu px-3">
                    <NavLink class="nav-link" href="Admin/LinkGroups">
                        <span class="oi oi-link-intact" aria-hidden="true"></span> Links
                    </NavLink>
                </div>
            }
        </AuthorizeView>
        <div class="nav-item nav-item-submenu px-3">
            <NavLink class="nav-link" href="Downloads">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Downloads
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Links">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Links
            </NavLink>
        </div>
    </nav>
</div>

