@page "/DnD"

<div class="row">
    <div class="col col-lg-2">
        <div class="mb-3">
            <a class="btn btn-primary" href="DnD/Tools/Measurement" role="button">Measurement Tools</a>
        </div>
    </div>
    <div class="col col-lg-2">
        <div class="mb-3">
            <a class="btn btn-primary" href="DnD/Puzzles/OniMother" role="button">Puzzle OniMother</a>
        </div>
    </div>
</div>
