@page "/Admin/Downloads"

@using BlazorTable;
@using Microsoft.AspNetCore.Authorization;
@using MadWorld.Shared.Enums;
@using MadWorld.Shared.Models.API.Downloads;
@using MadWorld.Website.Parts;
@inject NavigationManager _navigation;

@attribute [Authorize(Roles = nameof(RoleTypes.Adminstrator))]

<PageTitle>Downloads</PageTitle>

<h3>Downloads</h3>

@if (PageLoaded)
{
    <Table class="table table-striped table-dark table-bordered table-hover" TableHeadClass="thead-light" TableItem="DownloadDto" Items="_downloadDtos" PageSize="15" ShowSearchBar="true" RowClickAction="OpenDownload">
        <Column TableItem="DownloadDto" Title="ID" Field="@(x => x.Id)" Sortable="true" Filterable="false" Width="30%" />
        <Column TableItem="DownloadDto" Title="Name" Field="@(x => x.Name)" Sortable="true" Filterable="false" Width="30%" />
        <Column TableItem="DownloadDto" Title="Content" Field="@(x => x.Content)" Sortable="true" Filterable="false" Width="20%" />
        <Column TableItem="DownloadDto" Title="Created" Field="@(x => x.Created)" Sortable="true" Filterable="false" Width="20%" />
        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
    <button type="button" class="btn btn-primary" @onclick="NewDownload">New Download</button>
}
else
{
    <PageLoader />
}

